@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none} input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
body {min-width:320px;background-color:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Malgun Gothic', '¸¼Àº °íµñ', sans-serif;color:#333}

a {color:#333;text-decoration:none} a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

.show {display:block}
.hide {display:none}

.header {padding:10px 0;font-size:20px;background-color:#1f4e5f;text-align:center;color:#fff}
.footer {padding:10px 0;border-top:1px solid #d9d9d9;font-size:11px;font-size:12px;background-color:#f1f1f1;text-align:center;color:#888}
.nav {overflow:hidden;background-color:#79a8a9}
.nav li {float:left;width:50%}
.nav li:nth-child(2) {width:50%}
.nav .tab_day {display:block;padding:6px 0;text-align:center;color:black}
.nav .tab_day.on {background-color:#f4f7f7}

.list_webtoon li {border-top:1px solid #ccc}
.list_webtoon .link_webtoon {display:block;overflow:hidden}
.list_webtoon .img_webtoon {float:left;width:148px;height:106px;margin-right:10px}
.list_webtoon .info_webtoon {overflow:hidden}
.list_webtoon .info_webtoon .tit_webtoon {display:block;font-size:16px;padding:8px 0}

.showtime{
    background-color: red;
}